body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: FertigoP;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

@font-face {
    font-family: "FertigoP";
    src: url('../lib/bootstrap/dist/fonts/fertigo_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .dropdown a div {
        color: whitesmoke !important;
    }

    .dropdown a div:hover{
        background-color: orangered !important;
    }
}

table th { 
    text-align: center !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav a, .navbar-header a, .navbar-nav button{
    color: whitesmoke !important;
    text-decoration: none !important;
    cursor: pointer;
}

.navbar-nav a:hover , .navbar-header a:hover, .navbar-nav button:hover{
    background-color: orangered !important;
}

.dropdown a div {
    color: black;
    font-size: large;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
}

.dropdown a div:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

li hr {
    margin: 0;
}

img {
    height: 200px !important;
    margin: auto;
    padding-bottom: 10px;
}

.thumbnail {
    margin: 0 0 20px 8% !important;
}