@model SearchViewModel

@{
    ViewData["Title"] = $"Search Results For \"{Model.SearchText}\"";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

@if (Model.Articles.Any())
{
    <h3 class="text-default">Found articles:</h3>
    <br/>
    @Html.Partial("_ArticleListingPartial", Model.Articles)
}
else
{
    <h3 class="text-default">No news to show.</h3>
}

