@{
    ViewData["Title"] = "About us";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p>We are young developers who seek to make beautiful and reliable sites and desktop programs.</p>
        <p>Our team is composed by two members: </p>
        <ul class="list-unstyled">
            <li>Simeon Mechkov</li>
            <li>Valentin Parvanov</li>
        </ul>
        <p>Just because we are two guys, we guarantee that we will make the project fast and without hesitation.</p>
    </div>
</div>

