@{
    ViewData["Title"] = "Contact us";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>@ViewData["Title"]</h2>
        <hr/>
        <address>
                bul."Kuklensko Shose" 9<br />
                Plovdiv, Bulgaria<br />
                <abbr title="Phone">P:</abbr>
                +359888045447
        </address>

        <address>
            <strong>Support:</strong>
            <ul class="list-unstyled">
                <li><a href="mailto:monyou@abv.bg">monyou@abv.bg</a></li>
                <li><a href="mailto:valentinparvanovv@gmail.com">valentinparvanovv@gmail.com</a></li>
            </ul>
        </address>
    </div>
</div>