@{
    ViewData["Title"] = "Contact us";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>@ViewData["Title"]</h2>
        <hr/>
        <address>
                bul."Kuklensko Shose" 9<br />
                Plovdiv, Bulgaria<br />
                <abbr title="Phone">P:</abbr>
                +359888045447
        </address>
    </div>
</div>
<div class="row">
    <iframe class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.22144715441!2d24.755942115946812!3d42.12414227920356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd056fb5d30e3%3A0xd2ac4b40f4e581dd!2z0LHRg9C7LiDigJ7QmtGD0LrQu9C10L3RgdC60L4g0YjQvtGB0LXigJwgOSwgNDAwNCDQrtC20L3QsCDQv9GA0L7QvNC40YjQu9C10L3QsCDQt9C-0L3QsCwg0J_Qu9C-0LLQtNC40LI!5e0!3m2!1sbg!2sbg!4v1519135489833"
                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <address>
            <strong>Support:</strong>
            <ul class="list-unstyled">
                <li><a href="mailto:monyou@abv.bg">monyou@abv.bg</a></li>
                <li><a href="mailto:valentinparvanovv@gmail.com">valentinparvanovv@gmail.com</a></li>
            </ul>
        </address>
    </div>
</div>