@model UserListingsViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "User Administration";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<table class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
                User Roles
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>
                    @user.Username
                </th>
                <th>
                    @user.Email
                </th>
                <th>
                    @{
                        var userById = await UserManager.FindByIdAsync(user.Id);
                        var userRoles = await UserManager.GetRolesAsync(userById);
                    }

                    <ul class="list-unstyled">
                        @foreach (var role in userRoles)
                        {
                            <li>
                                @role
                            </li>
                            <hr />
                        }
                    </ul>
                </th>
                <th>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-sm btn-success" type="submit" asp-area="Admin" asp-controller="Users" asp-action="AddToRole" formmethod="post">
                                    Add Role
                                </button>
                            </div>
                            @if (User.IsInRole(WebConstants.AdministratorRole) && user.Username != User.Identity.Name)
                            {
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-success" type="submit" asp-area="Admin" asp-controller="Users" asp-action="RemoveRole" formmethod="post">
                                        Remove Role
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-danger" type="submit" asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" formmethod="post">
                                        Delete User
                                    </button>
                                </div>
                            }
                        </div>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>