@model TeamsFormModel

@{
    ViewData["Title"] = "Delete team";
}

<div class="row">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    <div class="col-md-8 col-md-offset-2">
        <form method="post" action="/admin/modelroles/destroy/@Model.Id">
            <div class="form-group">
                <label asp-for="TeamName"></label>
                <input disabled asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger center-block">Delete Team</button>
        </form>
    </div>
</div>

