@model ArticleFormModel
@{
    ViewData["Title"] = "Edit Article";
}

<div class="row">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr/>
    @Html.Partial("_CreateEditPartialView", Model)
</div>
